@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* Shared Styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-family: "Merriweather", serif;
}

.container {
    width: 85%;
    max-width: 1320px;
    margin: 0 auto;
}

/* Banner Related Styles */
.banner-main {
    margin-top: 50px;
    background-image: url('../images/BannerImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    border-radius: 16px;
    padding: 150px 0;
    margin-bottom: 120px;
}

.banner-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.banner-sub-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

/* Offer Related Styles */
.offer-main {
    text-align: center;
}

.offer-title {
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.offer-main h1 {
    padding-bottom: 48px;
}

.offer-description {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.offer-sub-description {
    color: #070211;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-bottom: 48px;
}

/* Party Related Styles */
.party-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('../images/Vector.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-top: 120px;
    margin-bottom: 120px;
    padding: 65px 140px;
    gap: 40px;
}

.party-text {
    max-width: 650px;

}

.party-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    letter-spacing: 7.04px;
    padding-bottom: 25px;
}

.party-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 32px;
}

.btn {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
}

.party-img {
    max-height: 460px;
}

/* Portfolio Related Styles */
.portfolio-main {
    margin-bottom: 120px;
}

.portfolio-title {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 16px;
}

.portfolio-sub-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-bottom: 22px;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 48px;
    max-width: 900px;
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

/* Newsletter Related Styles */
.newsletter-main {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px;
    max-height: 615px;
    margin-bottom: 120px;
}

.newsletter-text {
    text-align: center;
}

.newsletter-title {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    padding-top: 40px;
    padding-bottom: 20px;
}

.newsletter-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 45px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
}

.newsletter-form form {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
}

.newsletter-form form input {
    border-radius: 50px 0px 0px 50px;
    background: #FFF;
    border: none;
    flex-grow: 1;
    padding: 10px;
    font-size: 15px;
    outline: none;
    padding: 25px 400px 25px 30px;
}

.newsletter-form button {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 24px 56px;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

/* Footer Related Styles */
.footer-main {
    background: #070211;
    padding: 120px 0;
}

.footer-main h2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.footer-main hr{
    height: 1px;
    border: none;
    background: rgba(255, 255, 255, 0.15);
}
.footer-main .footer-address,
.footer-social-link,
.footer-copyright {
    margin: 40px 0;
}

.footer-address {
    display: flex;
    justify-content: space-between;
}

.footer-social-link {
    text-align: center;
}

.footer-social-link a {
    padding-right: 24px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
}
